{% extends 'coach/base.html' %}

{% block content %}

<div class="frame">
    <div class="content-card">

        <h1>Players</h1>
        <div class="title-divider"></div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td><a href="{% url 'player' player.id %}"><button class="btn-info">View</button></a></td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.surname }}</td>
                    <td>{{ player.age }}</td>
                    <td>{{ player.gender }}</td>
                    <td><a href="{% url 'update_player' player.id %}"><button class="btn-update">Edit</button></a></td>
                    <td><a href="{% url 'delete_player' player.id %}"><button class="btn-delete">Delete</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="action-bar">
            <a href="{% url 'create_player' %}"><button class="btn-create">Create Player</button></a>
        </div>
    </div>
</div>

{% endblock content %}