{% extends 'coach/base.html' %}

{% block content %}

<div class="frame">
    <div class="content-card">
        <h1>Share player</h1>
        <div class="title-divider"></div>
        <table>
            <tr>
                <th>Name</th>
                <td>{{ player.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ player.surname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ player.age }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ player.gender }}</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ player.hash }}</td>
            </tr>
        </table>
        <div class="action-bar">
            <a href="{% url 'players' %}"><button class="btn-info">Back</button></a>
        </div>
    </div>
</div>
{% endblock content %}