{% extends 'coach/base.html' %}

{% block content %}

<div class="frame">
    <div class="content-card">
        <h1>Training Sessions</h1>
        <div class="title-divider"></div>
        <div class="container session-container">
            {% for session in sessions %}
                <div class="object-card training-session-card">
                    <h3>Session</h3>
                    <p>Date: {{ session.date }}</p>
                    <p>Time: {{ session.time }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="action-bar">
            <a href="{% url 'create_session' %}"><button class="btn-create">Create Session</button></a>
        </div>
    </div>
</div>

{% endblock content %}