{% extends 'user/base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/user/auth.css' %}">

<div class="auth-frame">
    <div class="auth-card info-card">
        <h1>Activation successful</h1>
        <div class="content">
            <p>You have successfully activated your account.</p>
            <p>You can now log in with the credentials you provided during registration.</p>
        </div>
        <a href="{% url 'login' %}"><button class="btn-back">Login</button></a>
    </div>
</div>

{% endblock content %}
