{% extends 'user/base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/user/auth.css' %}">

<div class="auth-frame">
    <div class="auth-card">

        <div class="auth-header">
            {% block account_type %}{% endblock account_type %}
            <p>Create a new account</p>
        </div>

        <div class="auth-form">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <i class="fa-solid fa-envelope"></i>
                        <input class="form-control" id="email" name="email" type="text" placeholder="Email" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <i class="fa-solid fa-key"></i>
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                    </div>
                </div>
                {% block extra_fields %}{% endblock extra_fields %}
                <button class="submit" type="submit">Register</button>
            </form>
        </div>

        <div class="auth-divider">
            <span></span>
        </div>

        <div class="auth-footer">
            <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>

    </div>
</div>

{% endblock content %}