:root {
    --primary-color: #1C1F33;
    --primary-color-light: #6b7de5;
    --secondary-color: #e16309;
    --secondary-color-dark: #FF5003;
    --secondary-color-light: #FF8E00;
    --secondary-color2: #EA767F;
    --accent-color-1: #F7D4BE;
    --accent-color-2: #fafaff;

    --light-color: whitesmoke;
    --dark-color: #0E0F19;
}