.auth-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5rem);
    width: 100vw;
    padding: 0 1rem;
}

.auth-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.auth-header {
    text-align: center;
    margin-bottom: 3rem;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.auth-header h1 {
    font-size: 2rem;    
    margin-bottom: 6px;
    margin-bottom: 10px;
    color: var(--primary-color);
    transition: transform 0.1s ease-in-out;
}

.auth-header h1:hover {
    transform: scale(1.05) rotate(0.8deg) translate(0.08rem, -0.08rem);
}

.auth-header p {
    font-size: 1rem;
    /* color: var(--secondary-color); */
    color: gray;
}

.auth-form {
    margin-bottom: 3rem;
}

.auth-form .form-group {
    margin-bottom: 20px;
}

.auth-form .input-group {
    display: flex;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    transition: border 0.1s ease-in-out;
}

.auth-form .input-group i {
    padding: 10px;
    color: var(--primary-color);
}

.auth-form .input-group input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--dark-color);
}

.auth-form .input-group:focus-within {
    border: 2px solid var(--primary-color-light);
}

.auth-form .submit {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.auth-form .submit:hover {
    background-color: var(--primary-color-light);
}

.auth-divider {
    text-align: center;
    margin: 3rem 0;
    color: var(--dark-color);
    border: 0.5px solid lightgray;
}

.auth-footer {
    text-align: center;
    font-size: 1rem;
    color: gray;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.auth-footer p {
    margin-bottom: 5px;
}

.auth-footer a {
    color: var(--primary-color-light);
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.auth-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .auth-frame {
        padding: 0 0.5rem;
    }

    .auth-card {
        padding: 15px;
        max-width: 300px;
    }

    .auth-header h1 {
        font-size: 1.6rem;
    }

    .auth-header p {
        font-size: 0.9rem;
    }

    .auth-form .submit {
        font-size: 0.9rem;
    }

    .auth-footer {
        font-size: 0.9rem;
    }
}