@import "../colors.css";

.frame {
    height: calc(100vh - 5rem);
    width: 100vw;
    padding: 2rem;
    user-select: none;
}


.frame h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.frame p {
    /* font-size: 0.8rem; */
    color: gray;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container a {
    text-decoration: none;
    width: 100%;
    max-width: 400px;
}

.card-container button {
    background-color: var(--primary-color);
    /* border: none; */
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 100%;
    color: var(--light-color);
    text-align: center;
    cursor: pointer;
    height: min(20vw, 10vh);
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--light-color);
    user-select: none;

    transition: background-color 0.2s ease, scale 0.1s ease-in-out;
}

.card-container button:hover {
    background-color: var(--primary-color-light);
    scale: 1.01;
}

/* button:active {
    background-color: var(--primary-color-light);
} */

@media (max-width: 768px) {
    .frame {
        padding: 1rem;
    }

    .frame h1 {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    .frame p {
        font-size: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .card-container a {
        max-width: 300px
    }

    .card-container button {
        padding: 10px;        
        height: min(30vw, 10vh);
        font-size: 1.4rem;
    }
}

